.Home {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
  align-content: center;
}

.Home .home__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-content: center;
}

.Home .home__header p span:first-child {
  font-weight: 600;
}


@media screen and (min-width: 640px) {
  .Home {
    padding: 40px;
  }

  .Home .home__header {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

}

