.PasswordRecovery {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 80px;
  margin: 0 auto;
}

.PasswordRecovery h1 {
  margin-bottom: 70px;
}

.PasswordRecovery > div {
  margin-bottom: 30px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.PasswordRecovery body {
  display: grid;
  place-items: center;
}

.PasswordRecovery form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
}

.PasswordRecovery .form-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.PasswordRecovery .form-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.PasswordRecovery .form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.PasswordRecovery .form-buttons > p {
  font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
  .header {
    display: grid;
  }
  .PasswordRecovery {
    padding-top: 0;
    justify-content: center;
  }
  .PasswordRecovery .brand {
    display: none;
  }
}
